.principal-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 50% 40%;
}
.principal-container>div{
    height: 100%;
}

.img-container>img{
    width: 800px;
    height: 800px;
}